@charset "UTF-8";
/*! reset.scss Copyright 2014@Tomohiro IKEDA */
html, body, div,
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dt, dd,
table, th, td,
form, fieldset,
header, section, article, aside, footer, figure,
figcaption, nav {
  margin: 0px;
  padding: 0px; }

article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary {
  display: block; }

@viewport {
  width: extend-to-zoom 100%;
  zoom: 1;
  user-zoom: zoom; }

img {
  max-width: 100%; }

input, textarea, select, button {
  outline: none; }

label,
select,
[type="button"],
[type="checkbox"],
[type="radio"],
[type="submit"],
[type="reset"],
[type="file"],
[type="number"] {
  cursor: pointer; }

html {
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll; }

ul, ol {
  list-style: none; }

p, li, dt, dd, th, td, pre {
  -ms-line-break: strict;
  line-break: strict;
  -ms-word-break: break-strict;
  word-break: break-strict; }

table {
  border-collapse: collapse;
  border-spacing: 0px; }

img {
  border: none;
  vertical-align: middle; }

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box; }
  input[type="submit"]::-webkit-search-decoration,
  input[type="button"]::-webkit-search-decoration {
    display: none; }
  input[type="submit"]::focus,
  input[type="button"]::focus {
    outline-offset: -2px; }

body {
  width: 100%;
  background-color: #ecebd7;
  color: #222103; }
  body a {
    text-decoration: none;
    color: #222103; }

body header .logo {
  display: block;
  width: 20%;
  margin: 1% auto; }

body header .top_menu_wrap .top_menu_inner {
  display: flex;
  justify-content: center; }
  body header .top_menu_wrap .top_menu_inner .top_menu_item {
    margin: 10px 5px;
    font-size: 20px;
    background-color: #360f06;
    width: 170px;
    height: 75px;
    opacity: 0.8; }
    body header .top_menu_wrap .top_menu_inner .top_menu_item a {
      display: block;
      color: #ecebd7;
      text-align: center;
      line-height: 75px;
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 25px; }
  body header .top_menu_wrap .top_menu_inner .top_menu_item:hover {
    background-color: #cfa972; }
    body header .top_menu_wrap .top_menu_inner .top_menu_item:hover a {
      color: #222103; }

body header .top_img {
  width: 100%;
  margin: 5px 0 40px 0; }

body main .title_wrap .title {
  font-size: 35px;
  font-family: 'Noto Sans TC', sans-serif;
  margin-left: 200px;
  width: 130px; }

body main .title_wrap .title_sub {
  font-size: 20px;
  margin: 0 0 0 200px;
  width: 150px; }

body main #product .title_wrap {
  margin: 0 14%;
  width: 72%; }
  body main #product .title_wrap .product_menu {
    display: flex;
    width: 840px; }
    body main #product .title_wrap .product_menu .title_wrap2 .title, body main #product .title_wrap .product_menu .title_wrap2 .title_sub {
      margin: 0 30px 0 0; }
    body main #product .title_wrap .product_menu .season {
      margin-left: 30px; }
    body main #product .title_wrap .product_menu .menu .menu_title {
      font-size: 25px;
      margin: 15px 60px 0 0;
      text-align: center;
      width: 140px; }
    body main #product .title_wrap .product_menu .menu .menu_sub {
      width: 130px;
      text-align: center; }

body main #product .product_plate {
  display: flex;
  justify-content: space-between;
  margin: 0 14%; }
  body main #product .product_plate .product_wrap img {
    margin: 50px 0; }
  body main #product .product_plate .product_wrap .product_text {
    text-align: center; }
    body main #product .product_plate .product_wrap .product_text .name {
      font-size: 20px;
      font-weight: bold; }

body main #wheat {
  display: flex;
  justify-content: space-around;
  margin: 10% 14%; }
  body main #wheat .wheat_comment .wheat_title {
    font-size: 40px; }
    body main #wheat .wheat_comment .wheat_title .wheat_title_100 {
      font-size: 60px; }
  body main #wheat .wheat_comment .wheat_text {
    font-size: 20px;
    margin-top: 20px; }
