body{
    main{
        #wheat{
            display: flex;
            justify-content: space-around;
            margin:10% 14%;
            .wheat_comment{
                
                .wheat_title{
                    font-size:40px;

                    .wheat_title_100{
                        font-size: 60px;
                    }
                }
                .wheat_text{
                    font-size:20px;
                    margin-top:20px;
                }
            } 
        }
    }
}

