@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');
@import'variable.scss';



body{
    font-family: 'M PLUS Rounded 1c';
    background-color:$main_color;
    color:$font_color;
    width:100%;
    height: 100%;
    
   

}